name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types:
    - opened
    - reopened
    - synchronize
    - ready_for_review

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        profile: minimal
        toolchain: stable
        components: clippy
    - name: CI
      run: cargo run -p ci
